---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
import cutout from "../assets/images/cutout-body.webp";
import text1 from "../assets/images/header-text/multimedie.svg";
import text2 from "../assets/images/header-text/designer.svg";
import text3 from "../assets/images/header-text/med-en.svg";
import text4 from "../assets/images/header-text/passion-for.svg";
// import transImg from "../assets/images/paint-trans-top.webp";
import transImg2 from "../assets/images/paint-trans-bottom.webp";
import Stjerner from "../components/Stjerner.astro";
import frimaerke from "../assets/images/pfp-frimaerke.png";
import Bg1 from "../components/BG1.astro";
import Bg2 from "../components/BG2.astro";
import Rating from "../components/Rating.astro";
import TekstAnimation from "../components/TekstAnimation.astro";
---
<MainLayout title="Titel">
	<!-- <Image class="h-max w-auto md:pl-[420px] md:pr-[600px]" src={text1} alt="multimedie-"></Image>
	<section id="hero" class="grid grid-cols-2 px-72">
		<div class="flex flex-col items-end h-min">
			<Image class="h-16 w-auto" src={text2} alt="multimedie-"></Image>
			<Image class="pt-8 h-auto w-48" src={text3} alt="multimedie-"></Image>	
			<Image class="h-auto w-80" src={text4} alt="multimedie-"></Image>
</div>
	<Image class="w-auto h-[600px]" src={cutout} alt="Udklip af mig"></Image>
	</section> -->
	<!-- <section id="hero" class="md:grid md:grid-cols-7 md:pl-80 md:pr-40 hidden">	
		<Image class="h-max w-auto col-span-5" src={text1} alt="multimedie-"></Image>
		<div class="col-start-1 col-span-4  ">
			<div class="flex flex-col flex-end items-end h-min">
			<Image class="w-auto h-30" src={text2} alt="multimedie-"></Image>
			<Image class="pt-10" src={text3} alt="multimedie-"></Image>	
			<Image class="" src={text4} alt="multimedie-"></Image>
			<TekstAnimation /></div>
		</div>
</div>
	<Image class="w-max h-max md:w-[auto] md:h-[40rem] pl-10 col-start-5 col-span-3" src={cutout} alt="Udklip af mig"></Image>
	</section> -->
	<section id="hero" class="grid grid-cols-2 md:grid-cols-7 md:pl-80 md:pr-40">
		<!-- <Image class="h-max w-auto col-span-5" src={text1} alt="multimedie-"></Image> -->
		<h1 class="hidden md:flex md:pl-20 md:text-[8rem] text-black m-0">Multimedie-</h1>
		<div class="md:col-start-1 md:col-span-4  ">
			<div class="flex flex-col flex-end items-end h-min">
				<h1 class=" flex md:hidden md:pl-20 md:text-[8rem] text-black m-0">Multimedie-</h1>
				<h1 class="md:text-[8rem] text-black m-0">Designer</h1>
			<h2 class="md:text-[4rem] text-black m-0 pt-8">med en</h2>
			<h2 class="md:text-[4rem] text-black m-0">passion for</h2>
			<div class="grid grid-cols-2 z-20 mt-4 lg:mt-0">
			<div class="lg:col-span-2 mr-4 md:mr-0"><TekstAnimation> <TekstAnimation/></div>
		  </div>
			</div>
		</div>
</div>
	<Image class="w-auto h-96 md:w-[auto] md:h-[40rem] pt-9 md:pt-0 pl-0 md:pl-10 md:col-start-5 md:col-span-3" src={cutout} alt="Udklip af mig"></Image>
	</section>
	<div id="HvemErJeg"></div>
	<Bg1><section class="bg-[#398E7A] md:grid md:grid-cols-2 flex flex-col md:px-44 px-6">
		<div class="flex flex-row md:flex-col md:pb-0 pb-5">
		<Image class="md:h-auto h-[100%] md:w-[400px] w-48" src={frimaerke} alt="billede af mig med frimærkeramme"></Image>
		<h2 class=".fisterra md:hidden flex flex-wrap text-wrap text-6xl">Lidt om mig</h2>
	</div>
		<div class="flex flex-col">
		<h2 class=".fisterra hidden md:block">Lidt om mig</h2>
		<p>Mit navn er Ida-Matilde, og jeg er 21 år gammel. Jeg studerer multimediedesign på Københavns Erhvervsakademi, hvor jeg nu er halvvejs gennem min uddannelse.</p>
		<p>Min interesse for digital design blev vakt på Krabbesholm Højskole, hvor jeg tog to semestre. På højskolen havde jeg et lærerigt forløb på linjen “Visuel Kommunikation”, hvor jeg b.la blev introduceret for Adobe-pakken.</p>
	<p>Som digital designer brænder jeg for at skabe spændende visuelle løsninger og producere kreativt indhold.</p>	
	</div>
	</section>
</Bg1>
	<section class="w-full overflow-hidden md:relative md:-translate-y-1/4">
	
<Stjerner />
<div id="Kompetencer"></div>
<section class="flex flex-col md:flex-row md:px-44 md:gap-32 ">
	<div class="px-6">
	<h2 class="text-black">Mine faglige kompetencer</h2>
	<div class="flex flex-row">
	<div><p class="text-black">Under min uddannelse lærer jeg diverse teknikker og programmer, som jeg bruger til mine projekter. Som digital designer stræber jeg altid efter at kombinere kreativitet med funktionalitet i mine designs. Derfor starter min arbejdsprocess med design- og trendresearch kombineret med brugerresearch.</p>
		<p class="text-black">Mine skoleprojekter består bl.a. af at arbejde med interaktive Figma prototyper, som jeg derefter koder i VSCode. Jeg har kodet i HTML, CSS, og lidt JavaScript, og benyttet mig af Astro, Tailwind, Animate.css og Alpine. Jeg elsker at arbejde med grafisk design til de visuelle elementer der skal bruges til digitale løsninger, eller So-Me indhold.
		</p>
		<p class="text-black">
			I min fritid har jeg også personlige projekter, som inkluderer social media-indhold og optimering af visuel identitet for mindre virksomheder. Jeg er altid målrettet og fokuseret på at få projekter til at lykkes, og jeg er nysgerrig efter at lære mere om alle aspekter af dem. </p>
	</div>
	</div>
</div>
	<article>
		<div class="border-black border-solid border-2 md:m-0 md:mt-8 md:p-1 m-4">
		<div id="illustrator" class="flex flex-row content-center items-center gap-3 p-5">
		<svg width="55" height="55" viewBox="0 0 51 50" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M44.9696 1.46729H6.1162C3.81052 1.46729 1.94141 3.33664 1.94141 5.64262V44.501C1.94141 46.807 3.81052 48.6763 6.1162 48.6763H44.9696C47.2752 48.6763 49.1444 46.807 49.1444 44.501V5.64262C49.1444 3.33664 47.2752 1.46729 44.9696 1.46729Z" stroke="#075225" stroke-width="2" stroke-miterlimit="10"/>
			<path d="M17.4431 31.4322L15.3974 37.3473H11.1113L19.1269 14.1324H24.5681L32.9176 37.3473H28.3254L26.1962 31.4322H17.4431ZM25.2082 27.8554C23.3713 22.5388 22.258 19.3794 21.7292 17.4031C21.1169 19.5047 19.8923 23.2903 18.4172 27.8554H25.2082Z" fill="#075225"/>
			<path d="M35.7988 12.7964H39.9736V16.8743H35.7988V12.7964ZM35.7988 20.0893H39.9736V37.3473H35.7988V20.0893Z" fill="#075225"/>
			</svg>
			<div class="flex-row flex gap-3"><svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
				</svg>
				<svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
					</svg>
					<svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
						</svg>
						<svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
							</svg>
							<svg class="h-[40px] w-[40px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.65 34.83">
								<defs>
								  <style>
									.cls-1 {
									  fill: #ee4799;
									}
								  </style>
								</defs>
								<g data-name="Layer_1">
								  <path class="cls-1" d="M11.34,34.83l-6.74-4.26,8.42-10.81-13.03,1.67v-8.06l12.94,1.68L4.58,4.2,11.74.09l5.53,12.4L22.71,0l7.07,4.01-8.46,11.12,13.32-1.76v8.05l-13.29-1.58,8.53,10.67-7.38,4.21-5.36-12.5-5.81,12.62ZM6.8,30.18l3.9,2.46,5.91-12.82h1.16l5.47,12.75,4.39-2.51-8.58-10.72v-1.29l14.1,1.68v-4.65l-14.1,1.87v-1.3l8.51-11.19-4.13-2.34-5.56,12.76h-1.16L11.05,2.22l-4.23,2.43,8.42,10.91v1.3l-13.73-1.78v4.64l13.83-1.78v1.3l-8.52,10.94Z"/>
								</g>
							  </svg></div>
		</div>
		<div id="photoshop" class="flex flex-row content-center items-center gap-3 p-5">
			<svg width="55" height="55" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M44.4244 1.34937H5.97159C3.68969 1.34937 1.83984 3.19945 1.83984 5.48165V43.9395C1.83984 46.2217 3.68969 48.0717 5.97159 48.0717H44.4244C46.7063 48.0717 48.5562 46.2217 48.5562 43.9395V5.48165C48.5562 3.19945 46.7063 1.34937 44.4244 1.34937Z" stroke="#075225" stroke-width="2" stroke-miterlimit="10"/>
				<path d="M8.35352 13.0299H17.5949C22.3326 13.0299 25.5554 15.6883 25.5554 19.9859C25.5554 24.8069 21.9607 27.121 17.4571 27.121H12.6781V35.9916H8.35352V13.0299ZM12.6781 23.6499H16.9338C19.523 23.6499 21.1344 22.5342 21.1344 20.0823C21.1344 17.6305 19.344 16.501 17.0026 16.501H12.6781V23.6499Z" fill="#075225"/>
				<path d="M31.5337 30.9503C31.7345 31.7129 32.2057 32.3764 32.8594 32.8174C33.5131 33.2583 34.3048 33.4465 35.087 33.347C37.084 33.347 37.8415 32.5757 37.8415 31.3635C37.8415 30.1514 37.0978 29.5729 34.3846 28.8979C29.0546 27.5894 28.1043 25.9502 28.1043 23.5673C28.1043 21.1843 29.881 18.5259 34.7702 18.5259C39.6595 18.5259 41.4499 21.2807 41.6565 23.5948H37.6762C37.4834 22.8097 36.9325 21.5011 34.5774 21.5011C32.7319 21.5011 32.1535 22.3414 32.1535 23.2229C32.1535 24.1045 32.7457 24.7105 35.6379 25.3855C41.1469 26.6803 42.0421 28.5536 42.0421 31.0743C42.0421 33.9531 39.811 36.3911 34.9355 36.3911C30.06 36.3911 27.8564 33.9806 27.457 30.9503H31.5337Z" fill="#075225"/>
				</svg>
				<div class="flex-row flex gap-3"><svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
					</svg>
					<svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
						</svg>
						<svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
							</svg>
							<svg class="h-[40px] w-[40px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.65 34.83">
								<defs>
								  <style>
									.cls-1 {
									  fill: #ee4799;
									}
								  </style>
								</defs>
								<g data-name="Layer_1">
								  <path class="cls-1" d="M11.34,34.83l-6.74-4.26,8.42-10.81-13.03,1.67v-8.06l12.94,1.68L4.58,4.2,11.74.09l5.53,12.4L22.71,0l7.07,4.01-8.46,11.12,13.32-1.76v8.05l-13.29-1.58,8.53,10.67-7.38,4.21-5.36-12.5-5.81,12.62ZM6.8,30.18l3.9,2.46,5.91-12.82h1.16l5.47,12.75,4.39-2.51-8.58-10.72v-1.29l14.1,1.68v-4.65l-14.1,1.87v-1.3l8.51-11.19-4.13-2.34-5.56,12.76h-1.16L11.05,2.22l-4.23,2.43,8.42,10.91v1.3l-13.73-1.78v4.64l13.83-1.78v1.3l-8.52,10.94Z"/>
								</g>
							  </svg>
								<svg class="h-[40px] w-[40px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.65 34.83">
									<defs>
									  <style>
										.cls-1 {
										  fill: #ee4799;
										}
									  </style>
									</defs>
									<g data-name="Layer_1">
									  <path class="cls-1" d="M11.34,34.83l-6.74-4.26,8.42-10.81-13.03,1.67v-8.06l12.94,1.68L4.58,4.2,11.74.09l5.53,12.4L22.71,0l7.07,4.01-8.46,11.12,13.32-1.76v8.05l-13.29-1.58,8.53,10.67-7.38,4.21-5.36-12.5-5.81,12.62ZM6.8,30.18l3.9,2.46,5.91-12.82h1.16l5.47,12.75,4.39-2.51-8.58-10.72v-1.29l14.1,1.68v-4.65l-14.1,1.87v-1.3l8.51-11.19-4.13-2.34-5.56,12.76h-1.16L11.05,2.22l-4.23,2.43,8.42,10.91v1.3l-13.73-1.78v4.64l13.83-1.78v1.3l-8.52,10.94Z"/>
									</g>
								  </svg></div>		
		</div>
		<div id="premierepro" class="flex flex-row content-center items-center gap-3 p-5">
			<svg width="55" height="55" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M44.4244 1.41052H5.97159C3.68969 1.41052 1.83984 3.26061 1.83984 5.54281V44.0006C1.83984 46.2828 3.68969 48.1329 5.97159 48.1329H44.4244C46.7063 48.1329 48.5562 46.2828 48.5562 44.0006V5.54281C48.5562 3.26061 46.7063 1.41052 44.4244 1.41052Z" stroke="#075225" stroke-width="2" stroke-miterlimit="10"/>
				<path d="M10.1992 13.2839H19.4268C24.1645 13.2839 27.3873 15.9424 27.3873 20.2537C27.3873 25.0609 23.8064 27.3888 19.2891 27.3888H14.51V36.2594H10.1992V13.2839ZM14.51 23.9039H18.8208C21.41 23.9039 23.0214 22.802 23.0214 20.3364C23.0214 17.8708 21.2448 16.7688 18.8897 16.7688H14.51V23.9039Z" fill="#075225"/>
				<path d="M30.5 23.8212C30.5 21.8928 30.5 20.4328 30.5 19.1793H34.5491C34.5491 19.6063 34.6593 21.1766 34.6593 22.3474C35.0902 21.253 35.8536 20.3213 36.8419 19.6838C37.8303 19.0462 38.9937 18.7349 40.1683 18.7936V22.7744C36.7252 22.7744 34.6593 23.9728 34.6593 28.5321V36.2594H30.5275L30.5 23.8212Z" fill="#075225"/>
				</svg>
				<div class="flex-row flex gap-3"><svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
					</svg>
					<svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
						</svg>
						<svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
							</svg>
							<svg class="h-[40px] w-[40px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.65 34.83">
								<defs>
								  <style>
									.cls-1 {
									  fill: #ee4799;
									}
								  </style>
								</defs>
								<g data-name="Layer_1">
								  <path class="cls-1" d="M11.34,34.83l-6.74-4.26,8.42-10.81-13.03,1.67v-8.06l12.94,1.68L4.58,4.2,11.74.09l5.53,12.4L22.71,0l7.07,4.01-8.46,11.12,13.32-1.76v8.05l-13.29-1.58,8.53,10.67-7.38,4.21-5.36-12.5-5.81,12.62ZM6.8,30.18l3.9,2.46,5.91-12.82h1.16l5.47,12.75,4.39-2.51-8.58-10.72v-1.29l14.1,1.68v-4.65l-14.1,1.87v-1.3l8.51-11.19-4.13-2.34-5.56,12.76h-1.16L11.05,2.22l-4.23,2.43,8.42,10.91v1.3l-13.73-1.78v4.64l13.83-1.78v1.3l-8.52,10.94Z"/>
								</g>
							  </svg>
								<svg class="h-[40px] w-[40px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.65 34.83">
									<defs>
									  <style>
										.cls-1 {
										  fill: #ee4799;
										}
									  </style>
									</defs>
									<g data-name="Layer_1">
									  <path class="cls-1" d="M11.34,34.83l-6.74-4.26,8.42-10.81-13.03,1.67v-8.06l12.94,1.68L4.58,4.2,11.74.09l5.53,12.4L22.71,0l7.07,4.01-8.46,11.12,13.32-1.76v8.05l-13.29-1.58,8.53,10.67-7.38,4.21-5.36-12.5-5.81,12.62ZM6.8,30.18l3.9,2.46,5.91-12.82h1.16l5.47,12.75,4.39-2.51-8.58-10.72v-1.29l14.1,1.68v-4.65l-14.1,1.87v-1.3l8.51-11.19-4.13-2.34-5.56,12.76h-1.16L11.05,2.22l-4.23,2.43,8.42,10.91v1.3l-13.73-1.78v4.64l13.83-1.78v1.3l-8.52,10.94Z"/>
									</g>
								  </svg></div>		
		</div>
		<div id="indesign" class="flex flex-row content-center items-center gap-3 p-5">
			<svg width="55" height="55" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M44.5973 1.82471H5.3711C3.0433 1.82471 1.15625 3.712 1.15625 6.0401V45.2714C1.15625 47.5995 3.0433 49.4868 5.3711 49.4868H44.5973C46.9251 49.4868 48.8121 47.5995 48.8121 45.2714V6.0401C48.8121 3.712 46.9251 1.82471 44.5973 1.82471Z" stroke="#075225" stroke-width="2" stroke-miterlimit="10"/>
				<path d="M16.9756 14.4148V37.8383H12.5781V14.4148H16.9756Z" fill="#075225"/>
				<path d="M37.3479 13.0095V33.0045C37.3479 34.6064 37.3479 36.2223 37.3479 37.8382H33.4141C33.3073 37.1637 33.2416 36.4833 33.2174 35.8008C32.3042 37.3183 30.7025 38.3019 28.0191 38.3019C23.5794 38.3019 20.7695 34.6766 20.7695 29.295C20.7695 23.9133 23.748 20.0211 28.6372 20.0211C31.3347 20.0211 32.6835 21.0328 33.105 21.8759V13.0095H37.3479ZM25.153 29.1685C25.153 32.8359 26.6984 34.7891 29.1852 34.7891C32.7537 34.7891 33.3017 31.9788 33.3017 28.9999C33.3017 25.7119 32.7537 23.3794 29.3397 23.3794C26.6282 23.4356 25.153 25.5714 25.153 29.1685Z" fill="#075225"/>
				</svg>
				<div class="flex-row flex gap-3"><svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
					</svg>
					<svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
						</svg>
						<svg class="h-[40px] w-[40px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.65 34.83">
							<defs>
							  <style>
								.cls-1 {
								  fill: #ee4799;
								}
							  </style>
							</defs>
							<g data-name="Layer_1">
							  <path class="cls-1" d="M11.34,34.83l-6.74-4.26,8.42-10.81-13.03,1.67v-8.06l12.94,1.68L4.58,4.2,11.74.09l5.53,12.4L22.71,0l7.07,4.01-8.46,11.12,13.32-1.76v8.05l-13.29-1.58,8.53,10.67-7.38,4.21-5.36-12.5-5.81,12.62ZM6.8,30.18l3.9,2.46,5.91-12.82h1.16l5.47,12.75,4.39-2.51-8.58-10.72v-1.29l14.1,1.68v-4.65l-14.1,1.87v-1.3l8.51-11.19-4.13-2.34-5.56,12.76h-1.16L11.05,2.22l-4.23,2.43,8.42,10.91v1.3l-13.73-1.78v4.64l13.83-1.78v1.3l-8.52,10.94Z"/>
							</g>
						  </svg>
							<svg class="h-[40px] w-[40px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.65 34.83">
								<defs>
								  <style>
									.cls-1 {
									  fill: #ee4799;
									}
								  </style>
								</defs>
								<g data-name="Layer_1">
								  <path class="cls-1" d="M11.34,34.83l-6.74-4.26,8.42-10.81-13.03,1.67v-8.06l12.94,1.68L4.58,4.2,11.74.09l5.53,12.4L22.71,0l7.07,4.01-8.46,11.12,13.32-1.76v8.05l-13.29-1.58,8.53,10.67-7.38,4.21-5.36-12.5-5.81,12.62ZM6.8,30.18l3.9,2.46,5.91-12.82h1.16l5.47,12.75,4.39-2.51-8.58-10.72v-1.29l14.1,1.68v-4.65l-14.1,1.87v-1.3l8.51-11.19-4.13-2.34-5.56,12.76h-1.16L11.05,2.22l-4.23,2.43,8.42,10.91v1.3l-13.73-1.78v4.64l13.83-1.78v1.3l-8.52,10.94Z"/>
								</g>
							  </svg>
								<svg class="h-[40px] w-[40px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.65 34.83">
									<defs>
									  <style>
										.cls-1 {
										  fill: #ee4799;
										}
									  </style>
									</defs>
									<g data-name="Layer_1">
									  <path class="cls-1" d="M11.34,34.83l-6.74-4.26,8.42-10.81-13.03,1.67v-8.06l12.94,1.68L4.58,4.2,11.74.09l5.53,12.4L22.71,0l7.07,4.01-8.46,11.12,13.32-1.76v8.05l-13.29-1.58,8.53,10.67-7.38,4.21-5.36-12.5-5.81,12.62ZM6.8,30.18l3.9,2.46,5.91-12.82h1.16l5.47,12.75,4.39-2.51-8.58-10.72v-1.29l14.1,1.68v-4.65l-14.1,1.87v-1.3l8.51-11.19-4.13-2.34-5.56,12.76h-1.16L11.05,2.22l-4.23,2.43,8.42,10.91v1.3l-13.73-1.78v4.64l13.83-1.78v1.3l-8.52,10.94Z"/>
									</g>
								  </svg></div>			
		</div>
		<div id="figma" class="flex flex-row content-center items-center gap-3 p-5">
			<svg width="55" height="55" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M45.5094 1.04224H5.64831C3.28283 1.04224 1.36523 2.96008 1.36523 5.32586V45.1922C1.36523 47.5579 3.28283 49.4758 5.64831 49.4758H45.5094C47.8749 49.4758 49.7925 47.5579 49.7925 45.1922V5.32586C49.7925 2.96008 47.8749 1.04224 45.5094 1.04224Z" stroke="#075225" stroke-width="2" stroke-miterlimit="10"/>
				<path d="M25.6065 25.2591C25.6065 23.7387 26.198 22.2806 27.251 21.2056C28.304 20.1305 29.7321 19.5266 31.2212 19.5266C32.7103 19.5266 34.1385 20.1305 35.1915 21.2056C36.2444 22.2806 36.836 23.7387 36.836 25.2591C36.836 26.7794 36.2444 28.2375 35.1915 29.3125C34.1385 30.3876 32.7103 30.9915 31.2212 30.9915C29.7321 30.9915 28.304 30.3876 27.251 29.3125C26.198 28.2375 25.6065 26.7794 25.6065 25.2591ZM14.377 36.724C14.377 35.2037 14.9685 33.7456 16.0215 32.6705C17.0744 31.5955 20.6081 30.9915 22.0972 30.9915H25.6065V36.724C25.6065 38.2444 25.0149 39.7024 23.9619 40.7775C22.909 41.8525 21.4808 42.4565 19.9917 42.4565C18.5026 42.4565 17.0744 41.8525 16.0215 40.7775C14.9685 39.7024 14.377 38.2444 14.377 36.724ZM25.6065 8.06165V19.5266H31.2212C32.7103 19.5266 34.1385 18.9226 35.1915 17.8476C36.2444 16.7725 36.836 15.3145 36.836 13.7941C36.836 12.2738 36.2444 10.8157 35.1915 9.74065C34.1385 8.6656 32.7103 8.06165 31.2212 8.06165H25.6065ZM14.377 13.7941C14.377 15.3145 14.9685 16.7725 16.0215 17.8476C17.0744 18.9226 20.6081 19.5266 22.0972 19.5266H25.6065V8.06165H19.9917C18.5026 8.06165 17.0744 8.6656 16.0215 9.74065C14.9685 10.8157 14.377 12.2738 14.377 13.7941ZM14.377 25.2591C14.377 26.7794 14.9685 28.2375 16.0215 29.3125C17.0744 30.3876 20.6081 30.9915 22.0972 30.9915H25.6065V19.5266H22.0972C20.6081 19.5266 17.0744 20.1305 16.0215 21.2056C14.9685 22.2806 14.377 23.7387 14.377 25.2591Z" fill="#075225"/>
			</svg>
			<div class="flex-row flex gap-3"><svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
				</svg>
				<svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
					</svg>
					<svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
						</svg>
						<svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
							</svg>
							<svg class="h-[40px] w-[40px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.65 34.83">
								<defs>
								  <style>
									.cls-1 {
									  fill: #ee4799;
									}
								  </style>
								</defs>
								<g data-name="Layer_1">
								  <path class="cls-1" d="M11.34,34.83l-6.74-4.26,8.42-10.81-13.03,1.67v-8.06l12.94,1.68L4.58,4.2,11.74.09l5.53,12.4L22.71,0l7.07,4.01-8.46,11.12,13.32-1.76v8.05l-13.29-1.58,8.53,10.67-7.38,4.21-5.36-12.5-5.81,12.62ZM6.8,30.18l3.9,2.46,5.91-12.82h1.16l5.47,12.75,4.39-2.51-8.58-10.72v-1.29l14.1,1.68v-4.65l-14.1,1.87v-1.3l8.51-11.19-4.13-2.34-5.56,12.76h-1.16L11.05,2.22l-4.23,2.43,8.42,10.91v1.3l-13.73-1.78v4.64l13.83-1.78v1.3l-8.52,10.94Z"/>
								</g>
							  </svg></div>
		</div>	
		<div id="vscode" class="flex flex-row content-center items-center gap-3 p-5">
			<svg width="55" height="55" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M44.7547 1H5.24528C2.90068 1 1 2.90068 1 5.24528V44.7547C1 47.0993 2.90068 49 5.24528 49H44.7547C47.0993 49 49 47.0993 49 44.7547V5.24528C49 2.90068 47.0993 1 44.7547 1Z" stroke="#075225" stroke-width="2" stroke-miterlimit="10"/>
				<path d="M40.6224 38.6415L32.2734 42.0377L18.5469 28.4528L9.91487 35.2453L6.66016 33.4056V16.7075L9.91487 15.0094L18.5469 21.8019L32.2734 8.07544L40.6224 11.4717V38.6415ZM20.1036 25.0566L32.1319 37.0849V13.0283L20.1036 25.0566ZM9.91487 31.4245L17.2734 25.0566L10.0564 18.6886L9.91487 31.4245Z" fill="#075225"/>
				</svg>	
				<div class="flex-row flex gap-3"><svg class="hover:wobble-hor-bottom" width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
					</svg>
					<svg class="hover:wobble-hor-bottom" width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
						</svg>
						<svg class="hover:wobble-hor-bottom" width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
							</svg>
							<svg class="h-[40px] w-[40px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.65 34.83">
								<defs>
								  <style>
									.cls-1 {
									  fill: #ee4799;
									}
								  </style>
								</defs>
								<g data-name="Layer_1">
								  <path class="cls-1" d="M11.34,34.83l-6.74-4.26,8.42-10.81-13.03,1.67v-8.06l12.94,1.68L4.58,4.2,11.74.09l5.53,12.4L22.71,0l7.07,4.01-8.46,11.12,13.32-1.76v8.05l-13.29-1.58,8.53,10.67-7.38,4.21-5.36-12.5-5.81,12.62ZM6.8,30.18l3.9,2.46,5.91-12.82h1.16l5.47,12.75,4.39-2.51-8.58-10.72v-1.29l14.1,1.68v-4.65l-14.1,1.87v-1.3l8.51-11.19-4.13-2.34-5.56,12.76h-1.16L11.05,2.22l-4.23,2.43,8.42,10.91v1.3l-13.73-1.78v4.64l13.83-1.78v1.3l-8.52,10.94Z"/>
								</g>
							  </svg>
								<svg class="h-[40px] w-[40px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.65 34.83">
									<defs>
									  <style>
										.cls-1 {
										  fill: #ee4799;
										}
									  </style>
									</defs>
									<g data-name="Layer_1">
									  <path class="cls-1" d="M11.34,34.83l-6.74-4.26,8.42-10.81-13.03,1.67v-8.06l12.94,1.68L4.58,4.2,11.74.09l5.53,12.4L22.71,0l7.07,4.01-8.46,11.12,13.32-1.76v8.05l-13.29-1.58,8.53,10.67-7.38,4.21-5.36-12.5-5.81,12.62ZM6.8,30.18l3.9,2.46,5.91-12.82h1.16l5.47,12.75,4.39-2.51-8.58-10.72v-1.29l14.1,1.68v-4.65l-14.1,1.87v-1.3l8.51-11.19-4.13-2.34-5.56,12.76h-1.16L11.05,2.22l-4.23,2.43,8.42,10.91v1.3l-13.73-1.78v4.64l13.83-1.78v1.3l-8.52,10.94Z"/>
									</g>
								  </svg>
								</div>		
		</div>	
	</div>
</div>
	</article>
</section>
<Stjerner />
<article id="HvadJegSoger" class="md:pt-0 pt-5">
	<Bg2 />
</article>
<div class="relative -translate-y-1/3 md:-translate-y-2/3"><Stjerner/></div>
<section>
	<article class="grid md:grid-cols-2 md:px-44">
		<div class="border-black border-solid border-2 p-4 flex flex-col content-center items-center md:w-[30rem]">
			<h2 class="text-black">Kontaktinfo</h2>
		<hr class="h-1 w-[90%] my-1 bg-[#ee4799]">
		<div class="flex flex-row content-center items-center w-[80%] justify-between"><svg width="80" height="80" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
			<g clip-path="url(#clip0_72_1390)">
			<path d="M13 48.25H35C37.8951 48.25 40.25 45.8951 40.25 43V5C40.25 2.10493 37.8951 -0.25 35 -0.25H13C10.1049 -0.25 7.75 2.10493 7.75 5V43C7.75 45.8951 10.1049 48.25 13 48.25ZM10.25 5C10.25 3.48407 11.4841 2.25 13 2.25H35C36.5159 2.25 37.75 3.48407 37.75 5V43C37.75 44.5159 36.5159 45.75 35 45.75H13C11.4841 45.75 10.25 44.5159 10.25 43V5Z" fill="#075225" stroke="#075225" stroke-width="0.5"/>
			<path d="M9 10.25H39C39.6912 10.25 40.25 9.68991 40.25 9C40.25 8.31009 39.6912 7.75 39 7.75H9C8.30877 7.75 7.75 8.31009 7.75 9C7.75 9.68991 8.30877 10.25 9 10.25Z" fill="#075225" stroke="#075225" stroke-width="0.5"/>
			<path d="M9 40.25H39C39.6912 40.25 40.25 39.6899 40.25 39C40.25 38.3101 39.6912 37.75 39 37.75H9C8.30877 37.75 7.75 38.3101 7.75 39C7.75 39.6899 8.30877 40.25 9 40.25Z" fill="#075225" stroke="#075225" stroke-width="0.5"/>
			<path d="M24 41C22.896 41 22 41.896 22 43C22 44.104 22.896 45 24 45C25.104 45 26 44.104 26 43C26 41.896 25.104 41 24 41Z" fill="#075225"/>
			<path d="M24 41C22.896 41 22 41.896 22 43C22 44.104 22.896 45 24 45C25.104 45 26 44.104 26 43C26 41.896 25.104 41 24 41Z" stroke="#075225"/>
			<path d="M19 6.25H29C29.6912 6.25 30.25 5.68991 30.25 5C30.25 4.31009 29.6912 3.75 29 3.75H19C18.3088 3.75 17.75 4.31009 17.75 5C17.75 5.68991 18.3088 6.25 19 6.25Z" fill="#075225" stroke="#075225" stroke-width="0.5"/>
			</g>
			<defs>
			<clipPath id="clip0_72_1390">
			<rect width="48" height="48" fill="white"/>
			</clipPath>
			</defs>
			</svg>
			<p class="text-black text-3xl">30 63 79 09</p>
			</div>
			<hr class="h-1 w-[90%] my-1 bg-[#ee4799]">
		<div class="flex flex-row content-center items-center w-[80%] justify-between"><svg width="80" height="80" viewBox="0 0 52 42" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M51.2603 37.3319C51.2879 37.2479 51.3067 37.1593 51.3067 37.066V6.28785C51.3067 6.194 51.2879 6.10478 51.2597 6.0202C51.2556 6.00861 51.2533 5.99703 51.2486 5.98544C51.211 5.88637 51.1558 5.79716 51.0865 5.71895C51.0818 5.71373 51.0812 5.70736 51.0765 5.70215C51.0736 5.69925 51.0701 5.69809 51.0671 5.6952C50.9932 5.61756 50.9057 5.555 50.8076 5.50807C50.8 5.5046 50.7941 5.49996 50.7865 5.49648C50.6937 5.45535 50.5927 5.43218 50.4865 5.42523C50.4759 5.42465 50.4659 5.42233 50.4554 5.42233C50.4454 5.42175 50.4366 5.41943 50.4266 5.41943H1.57464C1.56466 5.41943 1.55526 5.42175 1.54528 5.42233C1.53589 5.42291 1.52649 5.42465 1.5171 5.42523C1.40965 5.43218 1.30691 5.45593 1.21297 5.49764C1.2071 5.49996 1.2024 5.50402 1.19653 5.50633C1.09672 5.55326 1.00806 5.61699 0.933495 5.69577C0.930559 5.69867 0.927036 5.69925 0.9241 5.70215C0.919403 5.70678 0.918816 5.71316 0.914119 5.71837C0.844838 5.79658 0.789061 5.88637 0.751485 5.98544C0.746788 5.99703 0.744439 6.00861 0.74033 6.02078C0.712147 6.10536 0.693359 6.19458 0.693359 6.28843V37.0671C0.693359 37.1622 0.712734 37.2525 0.741504 37.3383C0.745614 37.3499 0.747962 37.3609 0.752072 37.3725C0.790235 37.4721 0.846599 37.5619 0.916468 37.6401C0.920578 37.6447 0.921752 37.6505 0.925862 37.6552C0.929385 37.6592 0.934082 37.6615 0.938191 37.6656C0.966961 37.6951 0.998666 37.7212 1.03154 37.7467C1.04622 37.7577 1.05914 37.771 1.0744 37.7815C1.11316 37.8081 1.15484 37.8295 1.1977 37.8492C1.20827 37.8539 1.21766 37.8614 1.22823 37.8655C1.3345 37.9101 1.45134 37.9356 1.57405 37.9356H50.4254C50.5481 37.9356 50.665 37.9107 50.7712 37.8655C50.7877 37.8585 50.8029 37.8481 50.8188 37.84C50.8552 37.822 50.8916 37.8035 50.9251 37.7809C50.9427 37.7687 50.9585 37.7531 50.9756 37.7397C51.0055 37.716 51.0349 37.6922 51.0607 37.665C51.0654 37.6604 51.0707 37.6569 51.0754 37.6523C51.0801 37.6471 51.0812 37.6401 51.0859 37.6349C51.1546 37.5573 51.2098 37.468 51.2474 37.3696C51.2533 37.3568 51.2562 37.3446 51.2603 37.3319ZM2.45533 8.25874L17.2785 21.6187L2.45533 35.0853V8.25874ZM32.8368 20.9641C32.7758 21.0034 32.7112 21.0365 32.6601 21.0921C32.6407 21.1129 32.6343 21.1402 32.6172 21.1622L26.0003 27.1258L3.84447 7.15685H48.1562L32.8368 20.9641ZM18.5843 22.7953L25.4061 28.9438C25.5747 29.0955 25.7872 29.1714 26.0003 29.1714C26.2134 29.1714 26.426 29.0955 26.5939 28.9438L33.3312 22.8718L48.1521 36.1976H3.83156L18.5843 22.7953ZM34.6376 21.6946L49.5453 8.25874V35.0992L34.6376 21.6946Z" fill="#075225" stroke="#075225"/>
			</svg>			
			<p class="text-black text-3xl">30 63 79 09</p>
			</div>
			<hr class="h-1 w-[90%] my-1 bg-[#ee4799]">
		<div class="flex flex-row content-center items-center w-[80%] justify-between"><svg class="p-1" width="80" height="80" viewBox="0 0 41 42" fill="none" xmlns="http://www.w3.org/2000/svg">
			<g clip-path="url(#clip0_72_1385)">
			<path d="M8.79746 16.8484H13.9897V32.8787H8.79746V16.8484ZM11.4283 9.12109C9.65124 9.12109 8.49023 10.318 8.49023 11.889C8.49023 13.4277 9.61726 14.6594 11.3604 14.6594H11.3935C13.2045 14.6594 14.3324 13.4276 14.3324 11.889C14.2984 10.318 13.2046 9.12109 11.4283 9.12109ZM26.7379 16.4718C23.9818 16.4718 22.7471 18.0271 22.0583 19.1178V16.8484H16.8646C16.9333 18.3522 16.8646 32.8787 16.8646 32.8787H22.0583V23.9262C22.0583 23.4468 22.0923 22.969 22.2289 22.6256C22.605 21.6684 23.4595 20.6772 24.8929 20.6772C26.7735 20.6772 27.5246 22.1479 27.5246 24.3019V32.8786H32.7175V23.6866C32.7175 18.7628 30.1562 16.4718 26.7379 16.4718Z" fill="#075225"/>
			<path d="M35.669 2.12109H5.33021C3.52982 2.12109 2.07031 3.6162 2.07031 5.4605V36.5393C2.07031 38.3836 3.52982 39.8787 5.33021 39.8787H35.669C37.4694 39.8787 38.9289 38.3836 38.9289 36.5393V5.4605C38.9289 3.6162 37.4694 2.12109 35.669 2.12109Z" stroke="#075225" stroke-width="3" stroke-miterlimit="10"/>
			</g>
			<defs>
			<clipPath id="clip0_72_1385">
			<rect width="41" height="42" fill="white"/>
			</clipPath>
			</defs>
			</svg>
			<p class="text-black text-3xl">30 63 79 09</p>
			</div>
			<hr class="h-1 w-[90%] my-1 bg-[#ee4799]">
		<div class="flex flex-row content-center items-center w-[80%] justify-between"><svg class="p-1" width="80" height="80" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M28.6667 18.6667V15.4917C28.6667 14.0583 28.9833 13.3333 31.2083 13.3333H34V8H29.3417C23.6333 8 21.75 10.6167 21.75 15.1083V18.6667H18V24H21.75V40H28.6667V24H33.3667L34 18.6667H28.6667Z" fill="#075225"/>
			<path d="M37.5507 2H5.44929C3.5443 2 2 3.5443 2 5.44929V37.5507C2 39.4557 3.5443 41 5.44929 41H37.5507C39.4557 41 41 39.4557 41 37.5507V5.44929C41 3.5443 39.4557 2 37.5507 2Z" stroke="#075225" stroke-width="3" stroke-miterlimit="10"/>
			</svg>
			<p class="text-black text-3xl">30 63 79 09</p>
			</div>
			<hr class="h-1 w-[90%] my-1 bg-[#ee4799]">
		<div class="flex flex-row content-center items-center w-[80%] justify-between"><svg class="p-1" width="80" height="80" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
			<g clip-path="url(#clip0_72_1380)">
			<path d="M20.984 11.2244C15.1769 11.2244 10.3652 15.9531 10.3652 21.8432C10.3652 27.7333 15.0939 32.462 20.984 32.462C26.8742 32.462 31.6029 27.6503 31.6029 21.8432C31.6029 16.036 26.7912 11.2244 20.984 11.2244ZM20.984 28.6459C17.2509 28.6459 14.1814 25.5764 14.1814 21.8432C14.1814 18.11 17.2509 15.0405 20.984 15.0405C24.7172 15.0405 27.7867 18.11 27.7867 21.8432C27.7867 25.5764 24.7172 28.6459 20.984 28.6459Z" fill="#075225"/>
			<path d="M31.924 13.5841C33.2865 13.5841 34.391 12.4796 34.391 11.1171C34.391 9.75466 33.2865 8.65015 31.924 8.65015C30.5615 8.65015 29.457 9.75466 29.457 11.1171C29.457 12.4796 30.5615 13.5841 31.924 13.5841Z" fill="#075225"/>
			<path d="M36.8076 2H5.3772C3.51202 2 2 3.51202 2 5.3772V36.8076C2 38.6728 3.51202 40.1848 5.3772 40.1848H36.8076C38.6728 40.1848 40.1848 38.6728 40.1848 36.8076V5.3772C40.1848 3.51202 38.6728 2 36.8076 2Z" stroke="#075225" stroke-width="3" stroke-miterlimit="10"/>
			</g>
			<defs>
			<clipPath id="clip0_72_1380">
			<rect width="42" height="42" fill="white"/>
			</clipPath>
			</defs>
			</svg>					
			<p class="text-black text-3xl">30 63 79 09</p>
			</div>
		</div>
		<div class=""></div>
	</article>
</section>
<!-- <article>
		<h1>Index overskrift</h1>
		<Button>Klik!</Button>
		<p>Link til <Link href="https://www.kea.dk" target="_blank">En anden side</Link></p>
		<Image src={thumbsup} alt=""></Image>
	</article> -->
</section>
</MainLayout>
