---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
import cutout from "../assets/images/cutout-body.webp";
import text1 from "../assets/images/header-text/multimedie.svg";
import text2 from "../assets/images/header-text/designer.svg";
import text3 from "../assets/images/header-text/med-en.svg";
import text4 from "../assets/images/header-text/passion-for.svg";
// import transImg from "../assets/images/paint-trans-top.webp";
import transImg2 from "../assets/images/paint-trans-bottom.webp";
import frimaerke from "../assets/images/pfp-frimaerke.png";
import Bg1 from "../components/BG1.astro";
import Bg2 from "../components/BG2.astro";
import Rating from "../components/Rating.astro";
---
<MainLayout title="Titel">
	<!-- <Image class="h-max w-auto md:pl-[420px] md:pr-[600px]" src={text1} alt="multimedie-"></Image>
	<section id="hero" class="grid grid-cols-2 px-72">
		<div class="flex flex-col items-end h-min">
			<Image class="h-16 w-auto" src={text2} alt="multimedie-"></Image>
			<Image class="pt-8 h-auto w-48" src={text3} alt="multimedie-"></Image>	
			<Image class="h-auto w-80" src={text4} alt="multimedie-"></Image>
</div>
	<Image class="w-auto h-[600px]" src={cutout} alt="Udklip af mig"></Image>
	</section> -->

	<section id="hero" class="md:grid md:grid-cols-7 md:pl-80 md:pr-40 hidden">	
		<Image class="h-max w-auto col-span-5" src={text1} alt="multimedie-"></Image>
		<div class="col-start-1 col-span-4  ">
			<div class="flex flex-col items-end h-min">
			<Image class="w-auto h-30" src={text2} alt="multimedie-"></Image>
			<Image class="pt-10" src={text3} alt="multimedie-"></Image>	
			<Image class="" src={text4} alt="multimedie-"></Image>
		</div>
</div>
	<Image class="w-max h-max md:w-[auto] md:h-[40rem] pl-10 col-start-5 col-span-3" src={cutout} alt="Udklip af mig"></Image>
	</section>
	<div id="HvemErJeg"></div>
	<Bg1><section class="bg-[#398E7A] md:grid md:grid-cols-2 flex flex-col md:px-44 px-6">
		<div class="flex flex-row md:flex-col">
		<Image class="md:h-auto h-[100%] md:w-[400px] w-56" src={frimaerke} alt="billede af mig med frimærkeramme"></Image>
		<h2 class=".fisterra md:hidden flex flex-wrap text-wrap text-6xl">Lidt om mig</h2>
	</div>
		<div class="flex flex-col">
		<h2 class=".fisterra hidden md:block">Lidt om mig</h2>
		<p>Mit navn er Ida-Matilde, og jeg er 21 år gammel. Jeg studerer multimediedesign på Københavns Erhvervsakademi, hvor jeg nu er halvvejs gennem min uddannelse.</p>
		<p>Min interesse for digital design blev vakt på Krabbesholm Højskole, hvor jeg tog to semestre. På højskolen havde jeg et lærerigt forløb på linjen “Visuel Kommunikation”, hvor jeg b.la blev introduceret for Adobe-pakken.</p>
	<p>Som digital designer brænder jeg for at skabe spændende visuelle løsninger og producere kreativt indhold.</p>	
	</div>
	</section>
</Bg1>
	<section class="w-full overflow-hidden md:relative md:-translate-y-1/4">
	
<div class="flex flex-col items-center gap-14 z-0 pb-24">
  <svg class="justify-self-center rotate-center" width="50" height="50" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
	<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
	</svg>
	<svg class="justify-self-center rotate-center-left" width="50" height="50" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
		</svg>
		<svg class="justify-self-center rotate-center" width="50" height="50" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
			</svg>
			<svg class="justify-self-center rotate-center-left" width="50" height="50" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
				</svg>
				<div id="Kompetencer"></div>
</div>
<section class="flex flex-col md:flex-row md:px-44 md:gap-32">
	<div class="px-6">
	<h2 class="text-black">Mine faglige kompetencer</h2>
	<div class="flex flex-row">
	<div><p class="text-black">Under min uddannelse lærer jeg diverse teknikker og programmer, som jeg bruger til mine projekter. Som digital designer stræber jeg altid efter at kombinere kreativitet med funktionalitet i mine designs. Derfor starter min arbejdsprocess med design- og trendresearch kombineret med brugerresearch.</p>
		<p class="text-black">Mine skoleprojekter består bl.a. af at arbejde med interaktive Figma prototyper, som jeg derefter koder i VSCode. Jeg har kodet i HTML, CSS, og lidt JavaScript, og benyttet mig af Astro, Tailwind, Animate.css og Alpine. Jeg elsker at arbejde med grafisk design til de visuelle elementer der skal bruges til digitale løsninger, eller So-Me indhold.
		</p>
		<p class="text-black">
			I min fritid har jeg også personlige projekter, som inkluderer social media-indhold og optimering af visuel identitet for mindre virksomheder. Jeg er altid målrettet og fokuseret på at få projekter til at lykkes, og jeg er nysgerrig efter at lære mere om alle aspekter af dem. </p>
	</div>
	</div>
</div>
	<article>
		<div class="border-black border-solid border-2 md:m-0 md:mt-8 md:p-1 m-4">
		<div id="illustrator" class="flex flex-row content-center items-center gap-3 p-5">
		<svg width="55" height="55" viewBox="0 0 51 50" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M44.9696 1.46729H6.1162C3.81052 1.46729 1.94141 3.33664 1.94141 5.64262V44.501C1.94141 46.807 3.81052 48.6763 6.1162 48.6763H44.9696C47.2752 48.6763 49.1444 46.807 49.1444 44.501V5.64262C49.1444 3.33664 47.2752 1.46729 44.9696 1.46729Z" stroke="#075225" stroke-width="2" stroke-miterlimit="10"/>
			<path d="M17.4431 31.4322L15.3974 37.3473H11.1113L19.1269 14.1324H24.5681L32.9176 37.3473H28.3254L26.1962 31.4322H17.4431ZM25.2082 27.8554C23.3713 22.5388 22.258 19.3794 21.7292 17.4031C21.1169 19.5047 19.8923 23.2903 18.4172 27.8554H25.2082Z" fill="#075225"/>
			<path d="M35.7988 12.7964H39.9736V16.8743H35.7988V12.7964ZM35.7988 20.0893H39.9736V37.3473H35.7988V20.0893Z" fill="#075225"/>
			</svg>
			<div class="flex-row flex gap-3"><svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
				</svg>
				<svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
					</svg>
					<svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
						</svg>
						<svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
							</svg>
							<svg class="h-[40px] w-[40px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.65 34.83">
								<defs>
								  <style>
									.cls-1 {
									  fill: #ee4799;
									}
								  </style>
								</defs>
								<g data-name="Layer_1">
								  <path class="cls-1" d="M11.34,34.83l-6.74-4.26,8.42-10.81-13.03,1.67v-8.06l12.94,1.68L4.58,4.2,11.74.09l5.53,12.4L22.71,0l7.07,4.01-8.46,11.12,13.32-1.76v8.05l-13.29-1.58,8.53,10.67-7.38,4.21-5.36-12.5-5.81,12.62ZM6.8,30.18l3.9,2.46,5.91-12.82h1.16l5.47,12.75,4.39-2.51-8.58-10.72v-1.29l14.1,1.68v-4.65l-14.1,1.87v-1.3l8.51-11.19-4.13-2.34-5.56,12.76h-1.16L11.05,2.22l-4.23,2.43,8.42,10.91v1.3l-13.73-1.78v4.64l13.83-1.78v1.3l-8.52,10.94Z"/>
								</g>
							  </svg></div>
		</div>
		<div id="photoshop" class="flex flex-row content-center items-center gap-3 p-5">
			<svg width="55" height="55" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M44.4244 1.34937H5.97159C3.68969 1.34937 1.83984 3.19945 1.83984 5.48165V43.9395C1.83984 46.2217 3.68969 48.0717 5.97159 48.0717H44.4244C46.7063 48.0717 48.5562 46.2217 48.5562 43.9395V5.48165C48.5562 3.19945 46.7063 1.34937 44.4244 1.34937Z" stroke="#075225" stroke-width="2" stroke-miterlimit="10"/>
				<path d="M8.35352 13.0299H17.5949C22.3326 13.0299 25.5554 15.6883 25.5554 19.9859C25.5554 24.8069 21.9607 27.121 17.4571 27.121H12.6781V35.9916H8.35352V13.0299ZM12.6781 23.6499H16.9338C19.523 23.6499 21.1344 22.5342 21.1344 20.0823C21.1344 17.6305 19.344 16.501 17.0026 16.501H12.6781V23.6499Z" fill="#075225"/>
				<path d="M31.5337 30.9503C31.7345 31.7129 32.2057 32.3764 32.8594 32.8174C33.5131 33.2583 34.3048 33.4465 35.087 33.347C37.084 33.347 37.8415 32.5757 37.8415 31.3635C37.8415 30.1514 37.0978 29.5729 34.3846 28.8979C29.0546 27.5894 28.1043 25.9502 28.1043 23.5673C28.1043 21.1843 29.881 18.5259 34.7702 18.5259C39.6595 18.5259 41.4499 21.2807 41.6565 23.5948H37.6762C37.4834 22.8097 36.9325 21.5011 34.5774 21.5011C32.7319 21.5011 32.1535 22.3414 32.1535 23.2229C32.1535 24.1045 32.7457 24.7105 35.6379 25.3855C41.1469 26.6803 42.0421 28.5536 42.0421 31.0743C42.0421 33.9531 39.811 36.3911 34.9355 36.3911C30.06 36.3911 27.8564 33.9806 27.457 30.9503H31.5337Z" fill="#075225"/>
				</svg>
				<div class="flex-row flex gap-3"><svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
					</svg>
					<svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
						</svg>
						<svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
							</svg>
							<svg class="h-[40px] w-[40px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.65 34.83">
								<defs>
								  <style>
									.cls-1 {
									  fill: #ee4799;
									}
								  </style>
								</defs>
								<g data-name="Layer_1">
								  <path class="cls-1" d="M11.34,34.83l-6.74-4.26,8.42-10.81-13.03,1.67v-8.06l12.94,1.68L4.58,4.2,11.74.09l5.53,12.4L22.71,0l7.07,4.01-8.46,11.12,13.32-1.76v8.05l-13.29-1.58,8.53,10.67-7.38,4.21-5.36-12.5-5.81,12.62ZM6.8,30.18l3.9,2.46,5.91-12.82h1.16l5.47,12.75,4.39-2.51-8.58-10.72v-1.29l14.1,1.68v-4.65l-14.1,1.87v-1.3l8.51-11.19-4.13-2.34-5.56,12.76h-1.16L11.05,2.22l-4.23,2.43,8.42,10.91v1.3l-13.73-1.78v4.64l13.83-1.78v1.3l-8.52,10.94Z"/>
								</g>
							  </svg>
								<svg class="h-[40px] w-[40px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.65 34.83">
									<defs>
									  <style>
										.cls-1 {
										  fill: #ee4799;
										}
									  </style>
									</defs>
									<g data-name="Layer_1">
									  <path class="cls-1" d="M11.34,34.83l-6.74-4.26,8.42-10.81-13.03,1.67v-8.06l12.94,1.68L4.58,4.2,11.74.09l5.53,12.4L22.71,0l7.07,4.01-8.46,11.12,13.32-1.76v8.05l-13.29-1.58,8.53,10.67-7.38,4.21-5.36-12.5-5.81,12.62ZM6.8,30.18l3.9,2.46,5.91-12.82h1.16l5.47,12.75,4.39-2.51-8.58-10.72v-1.29l14.1,1.68v-4.65l-14.1,1.87v-1.3l8.51-11.19-4.13-2.34-5.56,12.76h-1.16L11.05,2.22l-4.23,2.43,8.42,10.91v1.3l-13.73-1.78v4.64l13.83-1.78v1.3l-8.52,10.94Z"/>
									</g>
								  </svg></div>		
		</div>
		<div id="premierepro" class="flex flex-row content-center items-center gap-3 p-5">
			<svg width="55" height="55" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M44.4244 1.41052H5.97159C3.68969 1.41052 1.83984 3.26061 1.83984 5.54281V44.0006C1.83984 46.2828 3.68969 48.1329 5.97159 48.1329H44.4244C46.7063 48.1329 48.5562 46.2828 48.5562 44.0006V5.54281C48.5562 3.26061 46.7063 1.41052 44.4244 1.41052Z" stroke="#075225" stroke-width="2" stroke-miterlimit="10"/>
				<path d="M10.1992 13.2839H19.4268C24.1645 13.2839 27.3873 15.9424 27.3873 20.2537C27.3873 25.0609 23.8064 27.3888 19.2891 27.3888H14.51V36.2594H10.1992V13.2839ZM14.51 23.9039H18.8208C21.41 23.9039 23.0214 22.802 23.0214 20.3364C23.0214 17.8708 21.2448 16.7688 18.8897 16.7688H14.51V23.9039Z" fill="#075225"/>
				<path d="M30.5 23.8212C30.5 21.8928 30.5 20.4328 30.5 19.1793H34.5491C34.5491 19.6063 34.6593 21.1766 34.6593 22.3474C35.0902 21.253 35.8536 20.3213 36.8419 19.6838C37.8303 19.0462 38.9937 18.7349 40.1683 18.7936V22.7744C36.7252 22.7744 34.6593 23.9728 34.6593 28.5321V36.2594H30.5275L30.5 23.8212Z" fill="#075225"/>
				</svg>
				<div class="flex-row flex gap-3"><svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
					</svg>
					<svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
						</svg>
						<svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
							</svg>
							<svg class="h-[40px] w-[40px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.65 34.83">
								<defs>
								  <style>
									.cls-1 {
									  fill: #ee4799;
									}
								  </style>
								</defs>
								<g data-name="Layer_1">
								  <path class="cls-1" d="M11.34,34.83l-6.74-4.26,8.42-10.81-13.03,1.67v-8.06l12.94,1.68L4.58,4.2,11.74.09l5.53,12.4L22.71,0l7.07,4.01-8.46,11.12,13.32-1.76v8.05l-13.29-1.58,8.53,10.67-7.38,4.21-5.36-12.5-5.81,12.62ZM6.8,30.18l3.9,2.46,5.91-12.82h1.16l5.47,12.75,4.39-2.51-8.58-10.72v-1.29l14.1,1.68v-4.65l-14.1,1.87v-1.3l8.51-11.19-4.13-2.34-5.56,12.76h-1.16L11.05,2.22l-4.23,2.43,8.42,10.91v1.3l-13.73-1.78v4.64l13.83-1.78v1.3l-8.52,10.94Z"/>
								</g>
							  </svg>
								<svg class="h-[40px] w-[40px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.65 34.83">
									<defs>
									  <style>
										.cls-1 {
										  fill: #ee4799;
										}
									  </style>
									</defs>
									<g data-name="Layer_1">
									  <path class="cls-1" d="M11.34,34.83l-6.74-4.26,8.42-10.81-13.03,1.67v-8.06l12.94,1.68L4.58,4.2,11.74.09l5.53,12.4L22.71,0l7.07,4.01-8.46,11.12,13.32-1.76v8.05l-13.29-1.58,8.53,10.67-7.38,4.21-5.36-12.5-5.81,12.62ZM6.8,30.18l3.9,2.46,5.91-12.82h1.16l5.47,12.75,4.39-2.51-8.58-10.72v-1.29l14.1,1.68v-4.65l-14.1,1.87v-1.3l8.51-11.19-4.13-2.34-5.56,12.76h-1.16L11.05,2.22l-4.23,2.43,8.42,10.91v1.3l-13.73-1.78v4.64l13.83-1.78v1.3l-8.52,10.94Z"/>
									</g>
								  </svg></div>		
		</div>
		<div id="indesign" class="flex flex-row content-center items-center gap-3 p-5">
			<svg width="55" height="55" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M44.5973 1.82471H5.3711C3.0433 1.82471 1.15625 3.712 1.15625 6.0401V45.2714C1.15625 47.5995 3.0433 49.4868 5.3711 49.4868H44.5973C46.9251 49.4868 48.8121 47.5995 48.8121 45.2714V6.0401C48.8121 3.712 46.9251 1.82471 44.5973 1.82471Z" stroke="#075225" stroke-width="2" stroke-miterlimit="10"/>
				<path d="M16.9756 14.4148V37.8383H12.5781V14.4148H16.9756Z" fill="#075225"/>
				<path d="M37.3479 13.0095V33.0045C37.3479 34.6064 37.3479 36.2223 37.3479 37.8382H33.4141C33.3073 37.1637 33.2416 36.4833 33.2174 35.8008C32.3042 37.3183 30.7025 38.3019 28.0191 38.3019C23.5794 38.3019 20.7695 34.6766 20.7695 29.295C20.7695 23.9133 23.748 20.0211 28.6372 20.0211C31.3347 20.0211 32.6835 21.0328 33.105 21.8759V13.0095H37.3479ZM25.153 29.1685C25.153 32.8359 26.6984 34.7891 29.1852 34.7891C32.7537 34.7891 33.3017 31.9788 33.3017 28.9999C33.3017 25.7119 32.7537 23.3794 29.3397 23.3794C26.6282 23.4356 25.153 25.5714 25.153 29.1685Z" fill="#075225"/>
				</svg>
				<div class="flex-row flex gap-3"><svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
					</svg>
					<svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
						</svg>
						<svg class="h-[40px] w-[40px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.65 34.83">
							<defs>
							  <style>
								.cls-1 {
								  fill: #ee4799;
								}
							  </style>
							</defs>
							<g data-name="Layer_1">
							  <path class="cls-1" d="M11.34,34.83l-6.74-4.26,8.42-10.81-13.03,1.67v-8.06l12.94,1.68L4.58,4.2,11.74.09l5.53,12.4L22.71,0l7.07,4.01-8.46,11.12,13.32-1.76v8.05l-13.29-1.58,8.53,10.67-7.38,4.21-5.36-12.5-5.81,12.62ZM6.8,30.18l3.9,2.46,5.91-12.82h1.16l5.47,12.75,4.39-2.51-8.58-10.72v-1.29l14.1,1.68v-4.65l-14.1,1.87v-1.3l8.51-11.19-4.13-2.34-5.56,12.76h-1.16L11.05,2.22l-4.23,2.43,8.42,10.91v1.3l-13.73-1.78v4.64l13.83-1.78v1.3l-8.52,10.94Z"/>
							</g>
						  </svg>
							<svg class="h-[40px] w-[40px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.65 34.83">
								<defs>
								  <style>
									.cls-1 {
									  fill: #ee4799;
									}
								  </style>
								</defs>
								<g data-name="Layer_1">
								  <path class="cls-1" d="M11.34,34.83l-6.74-4.26,8.42-10.81-13.03,1.67v-8.06l12.94,1.68L4.58,4.2,11.74.09l5.53,12.4L22.71,0l7.07,4.01-8.46,11.12,13.32-1.76v8.05l-13.29-1.58,8.53,10.67-7.38,4.21-5.36-12.5-5.81,12.62ZM6.8,30.18l3.9,2.46,5.91-12.82h1.16l5.47,12.75,4.39-2.51-8.58-10.72v-1.29l14.1,1.68v-4.65l-14.1,1.87v-1.3l8.51-11.19-4.13-2.34-5.56,12.76h-1.16L11.05,2.22l-4.23,2.43,8.42,10.91v1.3l-13.73-1.78v4.64l13.83-1.78v1.3l-8.52,10.94Z"/>
								</g>
							  </svg>
								<svg class="h-[40px] w-[40px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.65 34.83">
									<defs>
									  <style>
										.cls-1 {
										  fill: #ee4799;
										}
									  </style>
									</defs>
									<g data-name="Layer_1">
									  <path class="cls-1" d="M11.34,34.83l-6.74-4.26,8.42-10.81-13.03,1.67v-8.06l12.94,1.68L4.58,4.2,11.74.09l5.53,12.4L22.71,0l7.07,4.01-8.46,11.12,13.32-1.76v8.05l-13.29-1.58,8.53,10.67-7.38,4.21-5.36-12.5-5.81,12.62ZM6.8,30.18l3.9,2.46,5.91-12.82h1.16l5.47,12.75,4.39-2.51-8.58-10.72v-1.29l14.1,1.68v-4.65l-14.1,1.87v-1.3l8.51-11.19-4.13-2.34-5.56,12.76h-1.16L11.05,2.22l-4.23,2.43,8.42,10.91v1.3l-13.73-1.78v4.64l13.83-1.78v1.3l-8.52,10.94Z"/>
									</g>
								  </svg></div>			
		</div>
		<div id="figma" class="flex flex-row content-center items-center gap-3 p-5">
			<svg width="55" height="55" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M45.5094 1.04224H5.64831C3.28283 1.04224 1.36523 2.96008 1.36523 5.32586V45.1922C1.36523 47.5579 3.28283 49.4758 5.64831 49.4758H45.5094C47.8749 49.4758 49.7925 47.5579 49.7925 45.1922V5.32586C49.7925 2.96008 47.8749 1.04224 45.5094 1.04224Z" stroke="#075225" stroke-width="2" stroke-miterlimit="10"/>
				<path d="M25.6065 25.2591C25.6065 23.7387 26.198 22.2806 27.251 21.2056C28.304 20.1305 29.7321 19.5266 31.2212 19.5266C32.7103 19.5266 34.1385 20.1305 35.1915 21.2056C36.2444 22.2806 36.836 23.7387 36.836 25.2591C36.836 26.7794 36.2444 28.2375 35.1915 29.3125C34.1385 30.3876 32.7103 30.9915 31.2212 30.9915C29.7321 30.9915 28.304 30.3876 27.251 29.3125C26.198 28.2375 25.6065 26.7794 25.6065 25.2591ZM14.377 36.724C14.377 35.2037 14.9685 33.7456 16.0215 32.6705C17.0744 31.5955 20.6081 30.9915 22.0972 30.9915H25.6065V36.724C25.6065 38.2444 25.0149 39.7024 23.9619 40.7775C22.909 41.8525 21.4808 42.4565 19.9917 42.4565C18.5026 42.4565 17.0744 41.8525 16.0215 40.7775C14.9685 39.7024 14.377 38.2444 14.377 36.724ZM25.6065 8.06165V19.5266H31.2212C32.7103 19.5266 34.1385 18.9226 35.1915 17.8476C36.2444 16.7725 36.836 15.3145 36.836 13.7941C36.836 12.2738 36.2444 10.8157 35.1915 9.74065C34.1385 8.6656 32.7103 8.06165 31.2212 8.06165H25.6065ZM14.377 13.7941C14.377 15.3145 14.9685 16.7725 16.0215 17.8476C17.0744 18.9226 20.6081 19.5266 22.0972 19.5266H25.6065V8.06165H19.9917C18.5026 8.06165 17.0744 8.6656 16.0215 9.74065C14.9685 10.8157 14.377 12.2738 14.377 13.7941ZM14.377 25.2591C14.377 26.7794 14.9685 28.2375 16.0215 29.3125C17.0744 30.3876 20.6081 30.9915 22.0972 30.9915H25.6065V19.5266H22.0972C20.6081 19.5266 17.0744 20.1305 16.0215 21.2056C14.9685 22.2806 14.377 23.7387 14.377 25.2591Z" fill="#075225"/>
			</svg>
			<div class="flex-row flex gap-3"><svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
				</svg>
				<svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
					</svg>
					<svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
						</svg>
						<svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
							</svg>
							<svg class="h-[40px] w-[40px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.65 34.83">
								<defs>
								  <style>
									.cls-1 {
									  fill: #ee4799;
									}
								  </style>
								</defs>
								<g data-name="Layer_1">
								  <path class="cls-1" d="M11.34,34.83l-6.74-4.26,8.42-10.81-13.03,1.67v-8.06l12.94,1.68L4.58,4.2,11.74.09l5.53,12.4L22.71,0l7.07,4.01-8.46,11.12,13.32-1.76v8.05l-13.29-1.58,8.53,10.67-7.38,4.21-5.36-12.5-5.81,12.62ZM6.8,30.18l3.9,2.46,5.91-12.82h1.16l5.47,12.75,4.39-2.51-8.58-10.72v-1.29l14.1,1.68v-4.65l-14.1,1.87v-1.3l8.51-11.19-4.13-2.34-5.56,12.76h-1.16L11.05,2.22l-4.23,2.43,8.42,10.91v1.3l-13.73-1.78v4.64l13.83-1.78v1.3l-8.52,10.94Z"/>
								</g>
							  </svg></div>
		</div>	
		<div id="vscode" class="flex flex-row content-center items-center gap-3 p-5">
			<svg width="55" height="55" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M44.7547 1H5.24528C2.90068 1 1 2.90068 1 5.24528V44.7547C1 47.0993 2.90068 49 5.24528 49H44.7547C47.0993 49 49 47.0993 49 44.7547V5.24528C49 2.90068 47.0993 1 44.7547 1Z" stroke="#075225" stroke-width="2" stroke-miterlimit="10"/>
				<path d="M40.6224 38.6415L32.2734 42.0377L18.5469 28.4528L9.91487 35.2453L6.66016 33.4056V16.7075L9.91487 15.0094L18.5469 21.8019L32.2734 8.07544L40.6224 11.4717V38.6415ZM20.1036 25.0566L32.1319 37.0849V13.0283L20.1036 25.0566ZM9.91487 31.4245L17.2734 25.0566L10.0564 18.6886L9.91487 31.4245Z" fill="#075225"/>
				</svg>	
				<div class="flex-row flex gap-3"><svg class="hover:wobble-hor-bottom" width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
					</svg>
					<svg class="hover:wobble-hor-bottom" width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
						</svg>
						<svg class="hover:wobble-hor-bottom" width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
							</svg>
							<svg class="h-[40px] w-[40px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.65 34.83">
								<defs>
								  <style>
									.cls-1 {
									  fill: #ee4799;
									}
								  </style>
								</defs>
								<g data-name="Layer_1">
								  <path class="cls-1" d="M11.34,34.83l-6.74-4.26,8.42-10.81-13.03,1.67v-8.06l12.94,1.68L4.58,4.2,11.74.09l5.53,12.4L22.71,0l7.07,4.01-8.46,11.12,13.32-1.76v8.05l-13.29-1.58,8.53,10.67-7.38,4.21-5.36-12.5-5.81,12.62ZM6.8,30.18l3.9,2.46,5.91-12.82h1.16l5.47,12.75,4.39-2.51-8.58-10.72v-1.29l14.1,1.68v-4.65l-14.1,1.87v-1.3l8.51-11.19-4.13-2.34-5.56,12.76h-1.16L11.05,2.22l-4.23,2.43,8.42,10.91v1.3l-13.73-1.78v4.64l13.83-1.78v1.3l-8.52,10.94Z"/>
								</g>
							  </svg>
								<svg class="h-[40px] w-[40px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.65 34.83">
									<defs>
									  <style>
										.cls-1 {
										  fill: #ee4799;
										}
									  </style>
									</defs>
									<g data-name="Layer_1">
									  <path class="cls-1" d="M11.34,34.83l-6.74-4.26,8.42-10.81-13.03,1.67v-8.06l12.94,1.68L4.58,4.2,11.74.09l5.53,12.4L22.71,0l7.07,4.01-8.46,11.12,13.32-1.76v8.05l-13.29-1.58,8.53,10.67-7.38,4.21-5.36-12.5-5.81,12.62ZM6.8,30.18l3.9,2.46,5.91-12.82h1.16l5.47,12.75,4.39-2.51-8.58-10.72v-1.29l14.1,1.68v-4.65l-14.1,1.87v-1.3l8.51-11.19-4.13-2.34-5.56,12.76h-1.16L11.05,2.22l-4.23,2.43,8.42,10.91v1.3l-13.73-1.78v4.64l13.83-1.78v1.3l-8.52,10.94Z"/>
									</g>
								  </svg>
								</div>		
		</div>	
	</div>
</div>
	</article>
</section>
<div class="flex flex-col items-center gap-14 z-0 pb-24">
	<svg class="justify-self-center rotate-center" width="50" height="50" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
	  <path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
	  </svg>
	  <svg class="justify-self-center rotate-center-left" width="50" height="50" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
		  <path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
		  </svg>
		  <svg class="justify-self-center rotate-center" width="50" height="50" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
			  <path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
			  </svg>
			  <svg class="justify-self-center rotate-center-left" width="50" height="50" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
				  <path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
				  </svg>
  </div>
<article id="HvadJegSoger" class="md:px-44 pt-20">
	<Rating/>
</article>
<Bg2 />
<!-- <article>
		<h1>Index overskrift</h1>
		<Button>Klik!</Button>
		<p>Link til <Link href="https://www.kea.dk" target="_blank">En anden side</Link></p>
		<Image src={thumbsup} alt=""></Image>
	</article> -->
</section>
</MainLayout>
